footer.footer
  .footer__container.container
    img.footer__img.logo(src="assets/img/logo.png", alt="logo", width="221", height="76")
    .footer__content
      .footer__item
        p.footer__text.footer__text_fw_extra-bold Адрес:
        p.footer__text.footer__text_fw_regular Москва, ул. 2 Фрезерная, 3
      .footer__item
        p.footer__text.footer__text_fw_extra-bold Телефоны:
        p.footer__text.footer__text_fw_regular +7 916 294-94-03
        p.footer__text.footer__text_fw_regular +7 917 502-19-92
      .footer__item
        p.footer__text.footer__text_fw_extra-bold E-mail:
        p.footer__text.footer__text_fw_regular info@t-event.ru
      .footer__item
        p.footer__text.footer__text_fw_extra-bold Соцсети и мессенджеры:
        .footer__social-network.social-network
          a.footer__link(href="#")
            img.footer__social.social(src="assets/img/vk.svg", alt="vk logo")
          a.footer__link(href="#")
            img.footer__social.social(src="assets/img/telegram.svg", alt="telegram logo")
